.home-wallpaper{
    background-image: url('../../common/wallpaper/wooden.jpg');  
    min-height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    font-weight:bolder;
    align-items: center;
}

.right{
    padding-left: 5%;
    padding-right: 3%;
    flex:60%;
    text-align: right;
}

.h1{
    letter-spacing: 2px;
    font-size: 80px;
    padding: 5% 0% 5%;
    margin: 0%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .OurPicks {
        flex-direction: column;
    }

    .left h1{
        letter-spacing: 2px;
        font-size: 1vh;
        padding: 0;
        margin: 0;
    }
}

#title{
    font-size: 50px;
}
